/* .resposta p{
    margin: 10px 0 0 0; 
    border-radius: 5px;
}

.resposta .erro{
    color: #900; 
    border: 3px solid #900; 
    background: #FFEAEA; 
    padding: 10px;
}

.resposta .certo{
    color: #090; 
    border: 3px solid #090; 
    background: #FFEAEA; 
    padding: 10px;
}

.resposta .carregar{
    color: #069; border: 3px solid #069; background: #FFEAEA; padding: 10px;
} */

/* 

#erro{
    display: none;
} */










